html {
    font-size: 14px;
}

.menu-item {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

.menu-header {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 10px 10px;
    user-select: none;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

.menu-item:active {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

.menu-item-icon {
    margin-right: .5rem !important;

}

.ferramenta-tooltip {
    background-color: rgba(230, 230, 230);
    border: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    padding: 10px;
    left: 201px;
    width: 300px;
    z-index: 999;
}

.menu {
    position: absolute; 
    left: 0px; 
    top: 0px; 
    bottom: 0px; 
    width: 200px; 
    background-color: rgba(0,0,0,0.05);
    border-right: solid 1px rgba(0,0,0,0.2);
    overflow: auto;
}